<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Goo</title>
<!--     <link rel="stylesheet" type="text/css" href="styles/style.css"/> -->
  </head>
  <body ng-app="query">
    <h1>Goo...</h1>
    <h3>...for those too lazy to say ...gle</h3>
    <!-- the ng-view directive is where our templates will be loaded into when navigated to -->
  <div ng-controller="queryController">
  <form novalidate class="myForm">
   <input type="radio" ng-model="data.area" value="work">Work<br>
    <input type="radio" ng-model="data.area" value="school">School<br>
    <input type="radio"  ng-model="data.area" value="play">Play<br> 
    <input type="text" ng-model="data.text">
    <input type='submit' ng-click="addQuery(data)" value='Submit'>
  </form>
<pre> area = {{ data.area }}</pre>
<pre> text = {{ data.text }}</pre>
<pre> data = {{data | json}}</pre>
<gcse:searchbox gname="storesearch" webSearchQueryAddition="black"></gcse:searchbox>
<gcse:searchresults gname="storesearch"></gcse:searchresults>
</div>
<div ng-controller="innerHTML">
<p ng-bind-html="myHTML"></p>
</div> 




<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.js">
<script src="search.js"></script>

<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
<script src="query.js"></script>

  
  </body>
</html>